<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.tech">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/weidulogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.messageactivity.GroupSttingActivity"></activity>
        <activity android:name=".view.messageactivity.FriendchatRecordActivity" />
        <activity android:name=".view.messageactivity.SelectGroupingActivity" />
        <activity android:name=".view.messageactivity.CrowdHomePageActivity" />
        <activity android:name=".view.messageactivity.CrowdChatActivity" />
        <activity android:name=".view.messageactivity.SreachActivity" />
        <activity android:name=".view.messageactivity.AddFriendActivity" />
        <activity android:name=".view.messageactivity.AddCrowdActivity" />
        <activity android:name=".view.messageactivity.CrowdGroupActivity" />
        <activity android:name=".view.messageactivity.CrowdInformActivity" />
        <activity android:name=".view.messageactivity.CrowdIntroduceActivity" />
        <activity android:name=".view.messageactivity.AddActivity" />
        <activity android:name=".view.messageactivity.CrowdManageActivity" />
        <activity android:name=".view.messageactivity.CrowdMemberActivity" />
        <activity android:name=".view.messageactivity.ChatSettingActivity" />
        <activity android:name=".view.messageactivity.FriendChatActivity" />
        <activity android:name=".view.messageactivity.ApplyAddCrowdActivity" />
        <activity android:name=".view.messageactivity.FriendInformActivity" />
        <activity android:name=".view.messageactivity.FriendMessageActivity" />
        <activity android:name=".view.messageactivity.SetCrowdActivity" />
        <activity android:name=".view.information.PlateActivity"/>
        <activity android:name=".view.information.SerchActivity"/>
        <activity android:name=".view.communityactivity.PingLunActivity"></activity>
        <activity android:name=".view.communityactivity.QuanbupinglunActivity" />
        <activity android:name=".view.communityactivity.MyPostActivity"/>
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>